body{
    background-image: url("media/programmerArt/background.png");
    background-position:  top;
    background-size: cover;
}

.content {
    /* temporary Of course but its just organized like this so we can have a single window styleclass rather than reusing styles */
    background-color: rgb(255, 164, 225);
    border-radius: 5%;
    box-sizing: border-box;
}

.shop {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 25%;
    gap: 5%;
    text-align: center;
}

.button {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    padding: 2.5%;
    min-width: 35%;
    aspect-ratio: 1;
}

.display {
    background-color: rgba(173, 232, 255, 128);
    border-width: 1px;
    border-color: black;
    width: fit-content;
    padding: 0 5px 0;
    border-radius: 10px;
    font-family: "Comic Sans MS", sans-serif;
    font-weight: bold;
}


.box {
    margin: 15% auto auto;
    width: 5%;
    padding: 5%;
    cursor: pointer;
    background: red;
}