.content {
    /* temporary Of course but its just organized like this so we can have a single window styleclass rather than reusing styles */
    background-color: rgb(255, 164, 225);
    border-radius: 5%;
    box-sizing: border-box;
}

.shop {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 25%;
    gap: 5%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    padding: 5%;
    min-width: 35%;
    aspect-ratio: 1;
}